In [1]:
import numpy as np
import pandas as pd

In [2]:
from numpy.random import randn
np.random.seed(100)

In [3]:
df = pd.DataFrame(randn(5,4),index='A B C D E'.split(),columns='W X Y Z'.split())

In [4]:
df

          W         X         Y         Z
A -1.749765  0.342680  1.153036 -0.252436
B  0.981321  0.514219  0.221180 -1.070043
C -0.189496  0.255001 -0.458027  0.435163
D -0.583595  0.816847  0.672721 -0.104411
E -0.531280  1.029733 -0.438136 -1.118318

In [5]:
df['W']

A   -1.749765
B    0.981321
C   -0.189496
D   -0.583595
E   -0.531280
Name: W, dtype: float64

In [7]:
#Pass list of column names
df[['W','Z']]

          W         Z
A -1.749765 -0.252436
B  0.981321 -1.070043
C -0.189496  0.435163
D -0.583595 -0.104411
E -0.531280 -1.118318

In [8]:
#Sql Syntax (Not Recommended)
df.W

A   -1.749765
B    0.981321
C   -0.189496
D   -0.583595
E   -0.531280
Name: W, dtype: float64

In [9]:
#DataFrame Columns are just series
type(df['W'])

pandas.core.series.Series

In [10]:
df['new'] = df['X'] + df['Y']

In [11]:
df

          W         X         Y         Z       new
A -1.749765  0.342680  1.153036 -0.252436  1.495716
B  0.981321  0.514219  0.221180 -1.070043  0.735399
C -0.189496  0.255001 -0.458027  0.435163 -0.203026
D -0.583595  0.816847  0.672721 -0.104411  1.489568
E -0.531280  1.029733 -0.438136 -1.118318  0.591597

In [12]:
df.drop('new',axis=1)

          W         X         Y         Z
A -1.749765  0.342680  1.153036 -0.252436
B  0.981321  0.514219  0.221180 -1.070043
C -0.189496  0.255001 -0.458027  0.435163
D -0.583595  0.816847  0.672721 -0.104411
E -0.531280  1.029733 -0.438136 -1.118318

In [14]:
#Not Inplace unless specified
df

          W         X         Y         Z       new
A -1.749765  0.342680  1.153036 -0.252436  1.495716
B  0.981321  0.514219  0.221180 -1.070043  0.735399
C -0.189496  0.255001 -0.458027  0.435163 -0.203026
D -0.583595  0.816847  0.672721 -0.104411  1.489568
E -0.531280  1.029733 -0.438136 -1.118318  0.591597

In [15]:
df.drop('new',axis=1,inplace=True)

In [16]:
df

          W         X         Y         Z
A -1.749765  0.342680  1.153036 -0.252436
B  0.981321  0.514219  0.221180 -1.070043
C -0.189496  0.255001 -0.458027  0.435163
D -0.583595  0.816847  0.672721 -0.104411
E -0.531280  1.029733 -0.438136 -1.118318

In [17]:
df.drop('E',axis=0)

          W         X         Y         Z
A -1.749765  0.342680  1.153036 -0.252436
B  0.981321  0.514219  0.221180 -1.070043
C -0.189496  0.255001 -0.458027  0.435163
D -0.583595  0.816847  0.672721 -0.104411

In [18]:
#Selecting Rows
df.loc['A']

W   -1.749765
X    0.342680
Y    1.153036
Z   -0.252436
Name: A, dtype: float64

In [19]:
df.iloc[3]

W   -0.583595
X    0.816847
Y    0.672721
Z   -0.104411
Name: D, dtype: float64

In [20]:
#Slecting subset of rows and columns
df.loc['A','X']

np.float64(0.34268040332750216)

In [21]:
df.loc[['A','B'],['X','Y']]

          X         Y
A  0.342680  1.153036
B  0.514219  0.221180